<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Onextrapixel - Responsive Web Design Template</title>
	<link rel="stylesheet" type="text/css" href="../../../static/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../../static/style.css" />
	<link rel="stylesheet" type="text/css" href="../../../static/media-queries.css" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700,400,400italic,700italic' rel='stylesheet' type='text/css'>
	
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
	<div id="wrapper">
		
		<header>
			<h1><a href="index.html">Site Title</a></h1>
			<h2>Tagline <span>&amp;</span> Some clever comment about the company</h2>
			<nav>
				<a href="#">Home</a>
				<a href="#">About</a>
				<a href="#">Portfolio</a>
				<a href="#">Blog</a>
				<a href="#">Contact</a>
				<div class="clearfix"></div>
			</nav>	
		</header>
				
		<section id="main-content">
			<div id="featured">
				<h3>{{ event.date }}  at {{ event.location }} {{ event.description }} - {{event.format }} </h3>
				<p>Congratulations to {{ winner.first_name}} {{winner.last_name}}</a></p>
			</div> <!-- END Featured -->
			<hr/>
			<div id="latest">
				<section class="left-col">
					{% for round in event.rounds.all %}
						<h3> {{event.round}}</h3><br/>
					{% endfor %}
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. &nbsp; <a 
href="#">Continue Reading &rarr;</a></p>
					<h4><a href="#">Blog 2</a></h4>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. &nbsp; <a 
href="#">Continue Reading &rarr;</a></p>
					<h4><a href="#">Blog 3</a></h4>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. &nbsp; <a 
href="#">Continue Reading &rarr;</a></p>
				</section> <!-- END Left Column -->	

				<aside class="sidebar">
					<h4><a href="#">Recent Events</a></h4>
					{% if players %}
						<ul>
    					{% for player in players %}
     					   <li><a href="/event_manager/player/{{ player.player_id }}/">{{ player.first_name }}</a></li>
    					{% endfor %}
    						</ul>
					{% else %}
    					<p>No players for event {{ event.description }}</p>
					{% endif %}
					<br/>
					<h4><a href="#">Categories</a></h4>
					<ul>
						<li><a href="#">Articles</a></li>
						<li><a href="#">Tutorials</a></li>
						<li><a href="#">Roundups</a></li>
					</ul>
					<br/>
					<h4><a href="#">Social</a></h4>
					<ul>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">RSS</a></li>
						<li><a href="#">Google+</a></li>
					</ul>	
				</aside>
			</div> <!-- END Latest -->
			<div class="clearfix"></div>
			<hr/>
			<div id="about">
				<h3>About</h3>
				<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur 
et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac 
facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus.<br/><br/>

				Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus 
porttitor. Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Fusce 
dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			</div>	
		</section>	
		<hr/>
		<footer>
			<p>&copy; 2011 - Responsive Website Template</p>
		</footer>		
		
	</div> <!-- END Wrapper -->
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</body>
</html>
